<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.z.pranavj7.myktu">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic7"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:enabled="true"
            android:exported="true"
            android:name=".FireMessage">

            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:enabled="true"
            android:exported="true"
            android:name=".FireService">
            <intent-filter>
                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity">
            <intent-filter >
                <action android:name="com.example.package_path.MainActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".s1s2"
            android:parentActivityName=".MainActivity"
            android:label="Subjects">

            <intent-filter>
                <action android:name="com.example.package_path.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".s3s4"
            android:parentActivityName=".MainActivity"
        android:label="Branches">

            <intent-filter>
                <action android:name="com.example.package_path.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".subjectsS3S4"
            android:parentActivityName=".s3s4"
            android:label="Subjects">

            <intent-filter>
                <action android:name="com.example.package_path.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailActivity"
            android:parentActivityName=".subjectsS3S4"
            android:label="Syllabus">
            <intent-filter >
                <action android:name="com.example.package_path.SecondActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DetailActivitys1s2"
            android:parentActivityName=".s1s2"
            android:label="Syllabus">
            <intent-filter >
                <action android:name="com.example.package_path.SecondActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DetailQuestionsactivitys1s2"
            android:parentActivityName=".DetailActivitys1s2"
            android:label="Question papers">
        </activity>
        <activity
            android:name=".DetailQuestionActivitys3s4"
            android:parentActivityName=".DetailActivity"
            android:label="Question papers">
        </activity>
        <activity
            android:name=".DetailNotesactivity"
            android:label="Notes">
            <intent-filter >
                <action android:name="com.example.package_path.SecondActivity"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
